<p id="notice"><%= notice %></p>

<h1>Listing Notes</h1>

<form action="/zebra">
<input type="text" name="message" placeholder="Add a new note">
<input type="submit" value="Add Note">
</form>

<%= form_for Note.new do |f| %>
  <%= f.text_field :content, :placeholder => "Add a new note" %>
  <%= f.submit %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.content %></td>
        <td><%= link_to 'Show', note %></td>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Note', new_note_path %>
